<!-- ingredient_list.html -->


{% extends 'base.html' %}

{% load humanize %}
{% load custom_filters %}
{% block content %}
{% if message %}
<div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% for category in categories %}
<div class="d-flex justify-content-between mt-3 mb-4">
    <h2 class="mt-4 text-primary">{{ category.name|title }}</h2>
    <div class="d-flex flex-column justify-content-end">
        <a href="{% url 'export_inventory' 'csv' %}" class="btn btn-outline-primary">
            <i class="bi bi-file-earmark-spreadsheet"></i> Export CSV
        </a>
    </div>
</div>


    <table class="table table-bordered table-hover table-striped align-middle">
        <thead class="table-light">
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Total Cost</th>
                <th>Threshold</th>
                <th>Status</th>
                <th>Unit 1</th>
                <th>Unit 2</th>
                <th>Unit 3</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in category.ingredient_set.all %}
            <tr>
                <td>
                    <a href="{% url 'ingredient_details' category.slug ingredient.slug %}">
                        {{ ingredient.name }}
                    </a>
                </td>
                <td>{{  ingredient.converted_total_quantity }}</td>
                <td>{{ settings.get_currency_type_display }}{{ ingredient.calculated_total_cost|floatformat:2|intcomma }}</td>
                <td>{{ ingredient.converted_threshold }}</td>
                <td>
                    {% if ingredient.is_below_threshold %}
                    <span class="badge bg-danger">Below Threshold</span>
                    {% else %}
                    <span class="badge bg-success">Sufficient</span>
                    {% endif %}
                </td>
                {% for unit in ingredient.units.all %}
                        <td>
                            <div>
                                <b>{{ unit.quantity }} {{ unit.name }}</b>
                                <small>
                                    ({{ unit.multiplier }} {{ ingredient.unit_type }}) = 
                                    <b>{{ unit.converted_quantity }} total</b>
                                </small>
                            </div>
                            
                        </td>
                        {% empty %}
                        <td></td>
                        {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endfor %}

<div class="d-flex gap-3 mt-4">
    <a href="{% url 'take_inventory' %}" class="btn btn-primary"><i class="bi bi-clipboard-check"></i> Take Inventory</a>
    <a href="{% url 'delivery_inventory' %}" class="btn btn-info"><i class="bi bi-folder-plus"></i> Delivery</a>
    <a href="{% url 'row_add' %}" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> Add Row</a>
    <a href="{% url 'inventory_history' %}" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> History</a>
</div>
{% endblock %}
