{% extends 'base.html' %}


{% load humanize %}
{% block content %}

{% if message %}
<div class="alert-container">
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}

{% for category in categories %}

    <h2>{{ category.name|title }}:</h2> <!-- Display category name -->
    <div class="mb-3">
        <a href="{% url 'export_inventory' 'csv' %}" class="btn btn-primary">Export CSV</a>       
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Cost</th>
                <th>Total Cost</th>
                <th>Threshold</th>
                <th>Estimated Usage</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in category.ingredient_set.all %}
            <tr>
                <td>{{ ingredient.name|title }}</td>
                <td>{{ ingredient.converted_quantity }}</td>   
                <td>{{ ingredient.unit_multiplier }}{{ ingredient.unit_type }}</td>
                <td>{{ settings.get_currency_type_display }}{{ ingredient.unit_cost|floatformat:2|intcomma }}</td>
                <td>{{ settings.get_currency_type_display }}{{ ingredient.total_cost|floatformat:2|intcomma }}</td>
                <td>{{ ingredient.converted_threshold }}</td>
                <td>{{ ingredient.estimated_usage|default:"-" }}</td>
                <td>
                    {% if ingredient.is_below_threshold %}
                        <span style="color: red;">Below Threshold</span>
                    {% else %}
                        <span style="color: green;">Sufficient</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
<div class="d-flex justify-content-start my-3">
    <a href="{% url 'row_add' %}" class="btn btn-primary me-2">Add Row</a>
    <a href="{% url 'category_add' %}" class="btn btn-secondary">Add Category</a>
    <a href="{% url 'take_inventory' %}" class="btn btn-secondary">Take Inventory</a>
</div>
{% endblock %}

