{% extends 'base.html' %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
<h1>Take Inventory</h1>

<form method="post">
    {% csrf_token %}
    {% for category in categories %}
    <h2>Category: {{ category.name }}</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>New Quantity</th>
                <th>Unit</th>
                <th>Current Quantity</th> 
                <th>Unit Cost</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in category.ingredient_set.all %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>                   
                    {% with ingredient_forms|get_form:ingredient.id as form %}
                        {{ form.quantity }}
                    {% endwith %}
                </td>
                <td>{{ ingredient.unit_multiplier }}{{ ingredient.unit_type }}</td>
                <td>{{ ingredient.converted_quantity }}</td>
                <td>{{ settings.get_currency_type_display }}{{ ingredient.unit_cost|floatformat:2|intcomma }}</td>
                <td>{{ settings.get_currency_type_display }}{{ ingredient.total_cost|floatformat:2|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}
